<h1>This works</h1>

{% schema %}
  {
    "name": "Liquid Referenc",
    "settings": [
      {
        "id": "liquid-ref",
        "type": "text",
        "label": "A reference for shopify liquid"
      }
    ],
    "templates": [
      "index", "page", "product"
    ],
    "presets": [
      {
        "name": "Liquid Reference",
        "category": "Reference"
      }
    ]
  }
{% endschema%}